{% extends 'layout.html.twig' %}

{% block title %}Board{% endblock %}

{% block nav %}{% include 'nav_options.html.twig' %}{% endblock %}

{% block content %} 



<div class="container">

    <div class="row">
        <div class="page_block_title col-md-12">
            <h3>Création d'un cours</h3>
            <p>Etape 4/4 : Ajout des différentes étapes du cours</p>
        </div>
    </div>

    <div class="row">

        <div style="margin-bottom:5px" class="page_block_content col-md-12">

            <h4> Etapes {{(steps | length)+ 1}} : </h4>

             {{ form_start(stepForm) }}

                <!-- name form -->

                <div class="form-group">
                    {{ form_errors(stepForm.name) }}
                    {{ form_widget(stepForm.name, { 'attr':  {
                        'rows': '4',
                        'class': 'form-control',
                        'placeholder': 'Nom de l\'étape'
                    }}) }}
                </div>

                <div class="form-group">
                    {{ form_errors(stepForm.content) }}
                    {{ form_widget(stepForm.content, { 'attr':  {
                        'rows': '4',
                        'class': 'form-control',
                        'placeholder': 'Contenu'
                    }}) }}
                </div>

                <div class="form-group">
                    {{ form_errors(stepForm.time) }}
                    {{ form_widget(stepForm.time, { 'attr':  {
                        'rows': '4',
                        'class': 'form-control',
                        'placeholder': 'Durée étimée de l\'étape'
                    }}) }}
                </div>

                <!-- submit form -->
                    
                <div id="step_button_block" class="form-group">
                    <input type="submit" class="btn btn-primary" value="Enregistrer l'étape" />
                    <a href="{{ path('class', { 'id': class.id}) }}" class="btn btn-success">Terminer la création du cours</a>
                </div>

            {{ form_end(stepForm) }}

        </div>

    </div>

    <div class="row">
        <div class="page_block_title col-md-12">

            <h3> Etapes  ({{steps | length}}) </h3>

            <div class="table-responsive">
                <table class="table table-hover table-bordered table-condensed">
                    <thead>
                        <tr class="info">
                            <th>No</th>
                            <th>Titre</th>
                            <th>Contenu</th>
                            <th>Durée</th>
                        </tr>
                    </thead>

                    {% for key, value in steps %}
                        <tr>
                            <td style="width:8%"><p> {{ key }}</p></td>
                            <td><p>{{ value.name }}</p></td>
                            <td><p> {{ value.content }} </p></td>
                            <td style="width:8%"><p> {{ value.time }}</p></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            

        </div>
    </div>
</div>

    

{% endblock %}