{% extends 'layout.html.twig' %}

{% block title %}Board{% endblock %}

{% block nav %}{% include 'nav_options.html.twig' %}{% endblock %}

{% block content %} 



<div class="container">

    <div class="row">

        <div class="page_block_title col-md-12">
            <h3>Notes de l'évaluation</h3>
            <p><strong>Domaine : </strong>{{test.lesson.chapter.subject.name}}<strong style="margin-left:20px">Séquence : </strong>{{test.lesson.chapter.name}}</p>
            <p>Renseignez les différentes note</p>
        </div>

    </div>
    <div class="page_block_content row">

        <div class="page_block_content col-md-7">
            {{ form_start(form) }}

                <div class="form-group">
                    {{ form_label(form.name) }}
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name, { 'attr':  {
                        'rows': '4',
                        'class': 'form-control',
                        'placeholder': 'Titre'
                    }}) }}
                </div>

                
        </div>
        <div class="page_block_content col-md-12">

                <div class="col-md-offset-1 col-md-4">
                        
                    
                {% for student in students %}
                    <p style="line-height:27px; margin:0">{{ student.name }} - {{ student.firstname}}</p>
                {% endfor %}
                    
                    
                </div>

                <div class="col-md-6">
                        
                    
                    {% for mark in form.marks %}
                        {{ form_row(mark.value) }}
                    {% endfor %}
                    

                </div>

                <!-- submit form -->
                            
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Enregistrer" />
                    </div>

            {{ form_end(form) }}
        </div>    
    </div>    

</div>

    

{% endblock %}