{% extends 'layout.html.twig' %}

{% block title %}Tableaux de bord{% endblock %}

{% block content %} 

<div class="container">
    <div class="row">

    <!-- ==================== -->
    <!--  WELCOME ZONE -->
    <!-- ==================== -->

        
        <div class="col-md-6">

            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}

            <div class="page_block_title">
                <h3><strong>Bienvenue</strong> sur Classy</h3>
                <p>Choisissez une classe dans le menu pour commencer la gestion</p>
                <i class="fa fa-hand-o-left fa-3x" aria-hidden="true"></i>

            </div>

            <div class="page_block_content">

                {{ form_start(classForm) }}

                <!-- title form -->

                <h3>Créer une Classe</h3>

                    <p>Choix du niveau</p>
                    <div class="form-group">
                        {{ form_errors(classForm.lvl) }}
                        {{ form_widget(classForm.lvl, { 'attr':  {
                            'class': 'form-control'
                        }}) }}
                    </div>
                
                <!-- content form -->

                    <p>Nom de l'établissement</p>
                    <div class="form-group">
                        {{ form_errors(classForm.etab) }}
                        {{ form_widget(classForm.etab, { 'attr':  {
                            'class': 'form-control',
                            'placeholder': 'Nom de l\'établissement'
                        }}) }}
                    </div>

                    <p>Zone</p>
                    <div class="form-group">
                        {{ form_errors(classForm.zone) }}
                        {{ form_widget(classForm.zone, { 'attr':  {
                            'class': 'form-control',
                            'placeholder': 'Zone'
                        }}) }}
                    </div>

                <!-- submit form -->
                    
                    <div style="margin-top:70px" class="form-group">
                        <input type="submit" class="btn btn-primary" value="Enregistrer classe" />
                    </div>

                {{ form_end(classForm) }}
            </div>
        </div>
        

    <!-- ==================== -->
    <!--  MEMO ZONE -->
    <!-- ==================== -->

    
        
            <div class="col-md-6">
                <div id="add_memo_container">
                
                    {% if memoForm %}

                        <div id="memo_zone">

                            {% for memo in memos %}

                                <div id="memo">
                                    <strong>{{ memo.title }}</strong>
                                    <p>{{ memo.content }}</p>
                                    <p>le : {{ memo.date }}</p>
                                </div>

                            {% else %}

                                Vous n'avez aucun Mémo

                            {% endfor %}

                        </div>
                    

                    {{ form_start(memoForm) }}

                    <!-- title form -->

                    <div class="page_block_content">

                        <h3>Ajouter un Memo</h3>

                            <div class="form-group">
                                {{ form_errors(memoForm.title) }}
                                {{ form_widget(memoForm.title, { 'attr':  {
                                    'class': 'form-control',
                                    'placeholder': 'Nom du Mémo'
                                }}) }}
                            </div>
                        
                        <!-- content form -->

                            <div class="form-group">
                                {{ form_errors(memoForm.content) }}
                                {{ form_widget(memoForm.content, { 'attr':  {
                                    'rows': '2',
                                    'class': 'form-control',
                                    'placeholder': 'Tapez votre memo'
                                }}) }}
                            </div>

                        <!-- submit form -->
                            
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary" value="Enregistrer mémo" />
                            </div>

                        {{ form_end(memoForm) }}

                        {% else %}

                            <a href="{{ path('login') }} ">Connectez-vous</a> pour ajouter un memo.

                        {% endif %}

                    </div>
                
                </div>
            </div>            
        

    </div><!-- /.row -->
</div><!-- /.container -->

{% endblock %}