{% extends 'layout.html.twig' %}

{% block title %}Board{% endblock %}

{% block nav %}{% include 'nav_options.html.twig' %}{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class=" page_block_title text-center col-md-12">
                <h3>Tableau de bord de la classe de {{ class.lvl }}</h3>
                <p><em>Etablissemnt : {{class.etab}}</em></p>
            </div>
        </div>

        <div class="page_block_content row">

            <a href="{{ path('new_lesson', { 'idClass': class.id }) }}"> 
                <div class="dash_block col-md-4">
                    <div id="add_lesson_block">
                        <i class="fa fa-5x fa-pencil-square-o" aria-hidden="true"></i>
                        <p>Créer un cours</p>
                    </div>
                </div>
            </a>            

            <a href="{{ path('navigation', { 'idClass': class.id }) }}"> 
                <div class="dash_block col-md-4">
                    <div id="add_lesson_block">
                        <i class="fa fa-5x fa-tasks" aria-hidden="true"></i>
                        <p>Navigation</p>
                    </div>
                </div>
            </a>

            <a href="{{ path('list', { 'id': class.id }) }}"> 
                <div class="dash_block col-md-4">
                    <div id="add_lesson_block">
                        <i class="fa fa-5x fa-users" aria-hidden="true"></i>
                        <p>Registre</p>
                    </div>
                </div>
            </a>

            

        </div>

         <div class="page_block_content row">

            <div class="dash_block col-md-4">
                <a href="{{ path('calendar', { 'idClass': class.id }) }}">
                    <div id="add_lesson_block">
                        <i class="fa fa-5x fa-calendar" aria-hidden="true"></i>
                        <p>Calendrier</p>
                    </div>
                </a>
            </div>

            

            <div class="dash_block col-md-4">
                <a href="{{ path('programm', { 'idClass': class.id }) }}">
                    <div id="add_lesson_block">
                        <i class="fa fa-5x fa-book" aria-hidden="true"></i>
                        <p>Programme</p>
                    </div>
                </a>
            </div>

            <div class="dash_block col-md-4">
                <a href="{{ path('test_stat', { 'idClass': class.id }) }}">
                    <div id="add_lesson_block">
                        <i class="fa fa-5x fa-cog" aria-hidden="true"></i>
                        <p>Statistiques</p>
                    </div>
                </a>
            </div>
            

        </div>
    </div>


{% endblock %}