{% extends 'layout.html.twig' %}

{% block title %}Edit{% endblock %}

{% block nav %}{% include 'nav_options.html.twig' %}{% endblock %}

{% block content %} 



<div class="container">

    <div class="row">
        <div class="page_block_title col-md-12">
            <h3> Modification de le séance : {{lesson.title}} </h3>
            <p><strong>Domaine : </strong>{{lesson.chapter.subject.name}}<strong style="margin-left:20px">Séquence : </strong>{{lesson.chapter.name}}</p>
            <p>Renseignez les différente modifications à apporter à la séance</p>
        </div>
    </div>

    <div class="page_block_content row">

        <div class=" col-md-4">

             {{ form_start(lessonForm) }}

                <!-- name form -->

                <div class="form-group">
                    {{ form_label(lessonForm.title) }}
                    {{ form_errors(lessonForm.title) }}
                    {{ form_widget(lessonForm.title, { 'attr':  {
                        'rows': '4',
                        'class': 'form-control',
                        'placeholder': 'Titre'
                    }}) }}
                </div>

                <div class="form-group">
                    {{ form_label(lessonForm.situation) }}
                    {{ form_errors(lessonForm.situation) }}
                    {{ form_widget(lessonForm.situation, { 'attr':  {
                        'rows': '4',
                        'class': 'form-control',
                        'placeholder': 'Situation'
                    }}) }}
                </div>

                <div class="form-group">
                    {{ form_label(lessonForm.equipment) }}
                    {{ form_errors(lessonForm.equipment) }}
                    {{ form_widget(lessonForm.equipment, { 'attr':  {
                        'rows': '4',
                        'class': 'form-control',
                        'placeholder': 'Matériel(s)'
                    }}) }}
                </div>

                <div class="form-group">
                    {{ form_label(lessonForm.time) }}
                    {{ form_errors(lessonForm.time) }}
                    {{ form_widget(lessonForm.time, { 'attr':  {
                        'rows': '4',
                        'class': 'form-control',
                        'placeholder': 'Durée'
                    }}) }}
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Enregistrer" />
                    <a href="{{ path('lesson', { 'idClass': class.id, 'idSub': lesson.chapter.subject.id, 'idChap': lesson.chapter.id, 'idLess': lesson.id}) }}" class="btn btn-danger">Annuler</a>
                </div>

            </div>

            <div id="right_form_lesson" class="col-md-offset-1 col-md-7">

                <div class="form-group">
                    {{ form_label(lessonForm.skill) }}
                    {{ form_errors(lessonForm.skill) }}
                    {{ form_widget(lessonForm.skill, { 'attr':  {
                        'rows': '4',
                        'class': 'form-control',
                        'placeholder': 'Compétence(s)'
                    }}) }}
                </div>

                <div class="form-group">
                    {{ form_label(lessonForm.goal) }}
                    {{ form_errors(lessonForm.goal) }}
                    {{ form_widget(lessonForm.goal, { 'attr':  {
                        'rows': '4',
                        'class': 'form-control',
                        'placeholder': 'Objectif(s)'
                    }}) }}
                </div>
            </div>

            <!-- submit form -->
                
            

            {{ form_end(lessonForm) }}

        </div>

    </div>
</div>

    

{% endblock %}