{% extends 'layout.html.twig' %}

{% block title %}Board{% endblock %}

{% block nav %}{% include 'nav_options.html.twig' %}{% endblock %}

{% block content %} 



<div class="container">

    <div class="row">
        <div class="page_block_title col-md-12">
            <h3>Gestion des étapes</h3>
            <p>Renseignez les modifications à apporter à l'étape</p>
        </div>
    </div>

    <div class="row">

        <div style="margin-bottom:5px" class="page_block_content col-md-12">

            <h4> Etapes à modifier : </h4>

             {{ form_start(stepForm) }}

                <!-- name form -->

                <div class="form-group">
                    {{ form_label(stepForm.name) }}
                    {{ form_errors(stepForm.name) }}
                    {{ form_widget(stepForm.name, { 'attr':  {
                        'rows': '4',
                        'class': 'form-control',
                        'placeholder': 'Nom de l\'étape'
                    }}) }}
                </div>

                <div class="form-group">
                    {{ form_label(stepForm.content) }}
                    {{ form_errors(stepForm.content) }}
                    {{ form_widget(stepForm.content, { 'attr':  {
                        'rows': '4',
                        'class': 'form-control',
                        'placeholder': 'Contenu'
                    }}) }}
                </div>

                <div class="form-group">
                    {{ form_label(stepForm.time) }}
                    {{ form_errors(stepForm.time) }}
                    {{ form_widget(stepForm.time, { 'attr':  {
                        'rows': '4',
                        'class': 'form-control',
                        'placeholder': 'Durée étimée de l\'étape'
                    }}) }}
                </div>

                <!-- submit form -->
                    
                <div id="step_button_block" class="form-group">
                    <input type="submit" class="btn btn-primary" value="Enregistrer les modifications" />
                    <div>
                        <a href="{{ path('lesson', { 'idClass': class.id, 'idSub': step.lesson.chapter.subject.id, 'idChap': step.lesson.chapter.id, 'idLess': step.lesson.id}) }}" class="btn btn-danger">Annuler</a>
                                               
                    </div>
                </div>

            {{ form_end(stepForm) }}

        </div>

    </div>
</div>

    

{% endblock %}