<page backtop="7mm" backbottom="7mm" backleft="10mm" backright="10mm">

    <style type="text/css"> 

        .collapse { 
            width: 100%;
            border-collapse: collapse;
        }

        table {
            width:100%;
        }

        h2 {
            margin:8px;
        }

        .cell {
            border: 1px solid black;
            padding: 10px;
        }

        .title_cell {
            width:25%;
            text-align: center;
        }

   </style> 

    <table>
        <tr>
            <td style="width:50%"><strong>Domaine : </strong> {{subject.name}}</td>
            <td style="width:50%; text-align:right"><strong>Séquence : </strong>{{chapter.name}}</td>           
        </tr>
    </table>

    <table style="margin:40px">
        <tr>
            <td style="width:90%; text-align:center">
                <h2>Fiche de préparation de séance</h2>
                <h2>{{lesson.title}}</h2>
            </td>         
        </tr>
    </table>

    <table>
        <tr>
            <td class="title_cell">Situation</td>
            <td class="title_cell">Objectif(s)</td>
            <td class="title_cell">Compétence(s)</td>
            <td class="title_cell">Matériel</td>            
        </tr>
    </table>
    
    <table style="margin-bottom:40px">
        <tr>
            <td class="title_cell cell">{{lesson.situation}}</td>
            <td class="title_cell cell">{{lesson.goal}}</td>
            <td class="title_cell cell">{{lesson.skill}}</td>
            <td class="title_cell cell">{{lesson.equipment}}</td>            
        </tr>
    </table>

    <h4>Etapes de la séance</h4>    

    <table class="collapse">
        <thead>
            <tr style="background-color:#EEE">
                <th class="cell">Titre</th>
                <th class="cell">Contenu</th>
                <th class="cell">Durée</th>
            </tr>
        </thead>

        <tbody>

            {% for step in steps %}
                <tr>
                    <td class="cell" style="width:20%"><p>{{ step.name }}</p></td>
                    <td class="cell" style="width:70%"><p> {{ step.content }} </p></td>
                    <td class="cell" style="width:10%"><p> {{ step.time }}</p></td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

    <table style="margin-top:30px" class="collapse">
        <thead>
            <tr style="background-color:#EEE; width:100%">
                <th class="cell">Remarque</th>
            </tr>
        </thead>

        <tbody>

            <tr>
                <td class="cell" style="width:100%; height:50px"></td>
            </tr>

        </tbody>
    </table>

</page>