<li id="btn_class_board" >
    <a href="{{ path('class', { 'id': class.id }) }}">
        <p style="color:white"><i style="color:white" class="ico_menu fa fa-tachometer fa-2x" aria-hidden="true"></i>{{ class.lvl }}</p>
    </a>
</li>
<li>
    <a href="#" data-toggle="collapse" data-target="#submenu-2"><i class="ico_menu fa fa-book fa-2x" aria-hidden="true"></i>Cours<i class="fa fa-fw fa-angle-down pull-right"></i></a>
    <ul id="submenu-2" class="collapse">
        <li><a href="{{ path('sub_manag', { 'id': class.id }) }}"><i class="fa fa-angle-double-right"></i> Gestion des domaines</a></li>
        <li><a href="{{ path('navigation', { 'idClass': class.id }) }}"><i class="fa fa-angle-double-right"></i>Navigation</a></li>
        <li><a href="{{ path('new_lesson', { 'idClass': class.id }) }}"><i class="fa fa-angle-double-right"></i> Créer</a></li>
    </ul>
</li>
<li>
    <a href="#" data-toggle="collapse" data-target="#submenu-3"><i class="ico_menu fa fa-users fa-2x" aria-hidden="true"></i>Elève<i class="fa fa-fw fa-angle-down pull-right"></i></a>
    <ul id="submenu-3" class="collapse">
        <li><a href="{{ path('list', { 'id': class.id }) }}"><i class="fa fa-angle-double-right"></i>Registre</a></li>
        <li><a href="{{ path('add_student', { 'id': class.id}) }}"><i class="fa fa-angle-double-right"></i>Ajouter</a></li>
    </ul>
</li>
<li>
    <a href="#" data-toggle="collapse" data-target="#submenu-5"><i class="ico_menu fa fa-cog fa-2x" aria-hidden="true"></i>Statistiques<i class="fa fa-fw fa-angle-down pull-right"></i></a>
    <ul id="submenu-5" class="collapse">
        <li><a href="{{ path('test_stat', { 'idClass': class.id }) }}"><i class="fa fa-angle-double-right"></i>Evaluation</a></li>
        <li><a href="{{ path('class_stat', { 'idClass': class.id}) }}"><i class="fa fa-angle-double-right"></i>Classe</a></li>
    </ul>
</li>
<li>
    <a href="#" data-toggle="collapse" data-target="#submenu-4"><i class="ico_menu fa fa-book fa-2x" aria-hidden="true"></i>Programme<i class="fa fa-fw fa-angle-down pull-right"></i></a>
    <ul id="submenu-4" class="collapse">
        <li><a href="{{ path('programm', { 'idClass': class.id }) }}"><i class="fa fa-angle-double-right"></i>Périodes</a></li>
        <li><a href="{{ path('calendar', { 'idClass': class.id }) }}"><i class="fa fa-angle-double-right"></i>Calendrier</a></li>
    </ul>
</li>
