{% extends 'layout.html.twig' %}

{% block title %}Board{% endblock %}

{% block nav %}{% include 'nav_options.html.twig' %}{% endblock %}

{% block content %} 



<div class="container">

    <div class="row">
    
        <div style="margin-bottom:5px" class="page_block_title col-md-12">
            <h3>Evaluation : {{ test.name }}</h3>
            <p>Domaine : {{ test.lesson.chapter.subject.name }}</p>
            <p>Séquence : {{ test.lesson.chapter.name }}</p>
            <p>Séance : {{ test.lesson.title }}</p>
        </div>
        
    </div>

    <div class="row">
    
        <div style="margin-bottom:5px" class="page_block_content col-md-12">
            <h3>Notes de l'évaluation</h3>
            <div class="table-responsive">
                <table class="table table-hover table-bordered table-condensed">
                    <thead>
                        <tr class="info">
                            <th>Elève</th>
                            <th>Note</th>
                        </tr>
                    </thead>

                    {% for mark in marks %}
                        <tr>
                            <td><p> {{ mark.student.name }} - {{ mark.student.firstname }} </p></td>
                            <td><p> {{ mark.value }}</p></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        
    </div>
    
    <div class="row">
        <div style="margin-bottom:5px" class="page_block_content col-md-12">
            <div id="chart1" style="width: 100%;height:400px;"></div>
        </div>
    </div>

    <div style="margin-bottom:5px" class="page_block_content row">
        <div style="margin-bottom:5px" class="page_block_content col-md-4">
            <div id="chart2" style="width: 100%;height:200px;"></div>
        </div>
        <div style="margin-bottom:5px" class="page_block_content col-md-4">
            <div id="chart3" style="width: 100%;height:300px;"></div>
        </div>
        <div style="margin-bottom:5px" class="page_block_content col-md-4">
            <div id="chart4" style="width: 100%;height:200px;"></div>
        </div>
    </div>

    <div class="row">
        <div style="margin-bottom:5px" class="page_block_content col-md-12">
            <div id="chart5" style="width: 100%;height:400px;"></div>
        </div>
    </div>
    

</div>




<div id="markStud">{{markStud}}</div>
<div id="markValue">{{markValue}}</div>

    

{% endblock %}